/libraries/py32f403_sdk-*/
**/packages/
**/build/
**/dist/
**/__pycache__/
**/.config.old
**/.sconsign*
**/cconfig.h
**/rtthread.bin
**/rtthread.elf
**/rtthread.axf
**/rtthread.map
**/project.uvprojx
**/project.uvoptx
**/compile_commands.json
**/.vscode/
**/CMakeLists.txt
**/cmake-build*/
